body {
    background-color: #F8E0F1;
}
h1{
    color: black;
}

h2 {
    color: black;
}
h3 {
    color: black;
}

div {
    display: flex;
    justify-content: center;
    align-items: center;
}

p{
    font-size: 14px;
}
